html, body {
    height: 100%;
}
body {
    margin: 1% 2%;
}

#addMovieForm {
    display: none;
    padding-top: 15px;
}

#editMovieForm{
    display: none;
}

.deleteButton {
    margin: 10px;
}
label {
    padding-top: 56px;
}

.navbar-brand {
    color: rgba(225,190,64,.8) !important;
}

.navbar {
    background-color: #513F7A;
}
h3 {
    color: white;
}

h1, .subtitle {
    color: white;
}

.jumbotron {
    background-image: url("./netflix.jpg");
    repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid.img-banner {
    text-align:center;
    background: rgba(78,65,120,.6);
    margin:0;
}

.addMovieBkg {
    background-color: #513F7A !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ulHeader {
    background-color: rgba(225,190,64,.8); !important;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.white {
    color: white;
}

.overflow-control {
    overflow-y: scroll;
    height: 200px;
    padding: 1rem;

}

.movieInfoContainer>.card {
    min-width: 200px!important;
    max-width: 200px!important;
}

.card-group>.card+.card {
    margin-left: 10px!important;
    border-left: 10px!important;
    border-bottom: 10px!important;
    margin-bottom: 10px!important;
}

/* borrowed css "www.jacobstone.co.uk"*/

.view {
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}

.view .mask,
.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 20px 0 0 0
}

.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}

.view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}

.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}

.view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    /*padding-*/
}

.view-tenth:hover img {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}

.view-tenth:hover .mask {
    opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
}

