html, body {
    height: 100%;
}
body {
    margin: 1% 2%;
}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

#addMovieForm{
    display: none;
    padding-top: 15px;
}

#editMovieForm{
    display: none;
}
#hideRating{
    /*visibility: hidden;*/
    /*display: none;*/
}

.deleteButton {
    margin: 10px;
}
label {
    padding-top: 56px;
}

.navbar-brand {
    color: #EEBF2F !important;
}

.navbar {
    background-color: #513F7A;
}
h3 {
    color: white;
}

h1, .subtitle {
    color: white;
}

.jumbotron {
    background-image: url("./netflix.jpg");
    repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid.img-banner {
    text-align:center;
    background: rgba(78,65,120,.6);
    margin:0;
}

.addMovieBkg {
    background-color: #513F7A !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ulHeader {
    background-color: rgba(225,190,64,.8); !important;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.white {
    color: white;
}

.overflow-control {
    height:450px;
    overflow-y: scroll;
}
