html, body {
    height: 100%;
}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/

#addMovieForm{
    display: none;
    padding-top: 15px;
}

#editMovieForm{
    display: none;
}
#hideRating{
    /*visibility: hidden;*/
    /*display: none;*/
}

